.hover_Icon {
  width: 24px;
  height: 24px;
}

.hover_Icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

.hover_Icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    animation: bright_text 0.5s forwards;
  }
}

@keyframes bright_text {
  from {
    background-color: #00ff0000;
  }
  to {
    background-color: var(--color-hover);
  }
}
