.comment_wirte {
  display: flex;
}

.comment_write_input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  margin-left: 5px;
  outline: none;
  transition: border-bottom-color 1s ease;
  background-color: var(--color-x);
}
.comment_write_input:focus {
  border-bottom: 2px solid var(--color-focus-blue);
}
.user_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dark_input {
  color: white !important;
}
