.video_group {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1 1 300px;
  max-width: 500px;
  min-width: 0px;
  padding: 5px;
  cursor: pointer;
}

.video_img {
  border-radius: 15px;
  padding: 5px;
}

/* 아이템들 가운데 정렬하기 */
.video_title {
  display: flex;
  justify-content: center;
  align-items: start;
}

.video_user_img {
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
}

.video_text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.video_text_name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.video_text_small {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--color-thumb-text-small);
}

.video_text_small_box {
  display: flex;
}
