:root {
  --color-black: black;
  --color-white: white;
  --color-focus-blue: blue;
  --color-slider: #1e201e;
  --color-x: #00ff0000;
  --color-hover: #b2b2b2;
  --color-thumb-text-small: #b2b2b2;
  --color-placeHorder: #cccccc;
  --back-color: white;
  --color-icon-back: #1d1d1d;
  --color-gray: #484848;
  --color-shorts-comment: #191919;
}
