.dark {
  background-color: var(--color-black);
  color: var(--color-white) !important;
}
.white {
  background-color: var(--color-x);
  color: var(--color-black);
}
.dark_svg {
  filter: invert(100%);
}
