.aside_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--color-x);
  cursor: pointer;
  width: 100%;
  height: 64px;
  border-radius: 3px;
  margin: 1px;
  flex-shrink: 0;
}
.aside_icon:hover {
  background-color: var(--color-hover);
}

.icon_text {
  font-size: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
