.comment_frame {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

.content {
  background-color: var(--color-shorts-comment) !important;
  color: white !important;
  border-radius: 15px;
  width: 450px;
  height: 600px;
}

.comment_nav {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  justify-content: space-around;
}

.comment_box {
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.comment_box::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.comment_icon_box {
  display: flex;
  align-items: center;
}

.input_box {
  width: 100%;
  height: 10%;
  border-top: 1px solid;
}

.comment_exit {
  color: white !important;
  font-size: x-large;
  margin-left: 30px;
}
